* {
    font-family: "helvetica";
}

body {
    margin: 0;
    /* background-color: #FEF0DB; */
    color: #6777B8;
    background-image: url("./background.svg")
}

nav {
    background-color: #EFB6BC;
    padding: 20px;
    font-size: 20px;
    color: #6777B8;
    
}

button {
    background-color: #8DCAD4;
    color: #FFF7F0;
    font-size: 16px;
    border-radius: 5px;
}



main {
    margin: 20px;
}

main img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
main h1 {
    text-align: center;
}
section {
    border: 5px solid #A8E0D6;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    background-color: #FEF0DB;
    
}
 
section .author {
    font-size: 14px;
}


footer nav {
    padding: 5px;
}
footer ul {
    display: flex;
    justify-content: space-evenly;
}

footer li {
    list-style: none;
   
}

footer a {
    color: #6777B8;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #86B6C9;
}

footer img {
    width: 300px;
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
